<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/header-footer.css">
    <title>Sunset</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/home" sec:authorize="isAuthenticated()">Home</a></li>
                <li><a href="/" sec:authorize="!isAuthenticated()">Home</a></li>
                <li><a href="/sunset/add" sec:authorize="isAuthenticated()">Add sunset</a></li>
                <li><a href="/sunset/continent" sec:authorize="isAuthenticated()">All sunsets</a></li>
                <li><a href="/contacts">Contact us</a></li>
                <li><a href="/about">About us</a></li>
            </ul>

            <ul>
                <li><a href="/login" sec:authorize="!isAuthenticated()">Login</a></li>
                <li><a href="/register" sec:authorize="!isAuthenticated()">Register</a></li>
                <li><a href="/events" sec:authorize="isAuthenticated()">Events</a></li>
                <li><a href="/profile" sec:authorize="isAuthenticated()">Profile</a></li>
                <li sec:authorize="isAuthenticated()">
                    <form th:action="@{/logout}" method="post">
                        <input type="submit" value="Logout"/>
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                    </form>
                </li>


            </ul>
        </nav>
    </header>

    <footer class="footer">
        <p>A student project by Bilyana </p>
    </footer>

</body>
</html>