#body{
    font-family: PT Sans, sans-serif;
    background-color: #FFE7D6;
}

#border{
    border-radius: 7px;
    border: 1px solid white;
    width: 70%;
    margin: auto;
    padding: 30px;
    background-color: #fffbf8;
    margin-top: 100px;
}

.field{
    width: 70%;
    margin: auto;
    text-align: center;
    padding: 15px;
    font-size: 18px;
}

input{
 
    height: 35px;
   
    
}

label{
    padding-right: 20px;
}

.button{
    text-align: center;
}

.button-custom{
    color: #28241F;
    width: 25%;
    margin: 30px;
    font-weight: 600;
    background-color: #FFC9A3;
    border: 2px solid white;
    border-radius: 5px;
    padding: 5px;
}



.h-custom{
    text-align: center;
    font-size: 30px;
    color: #28241F;
}

#content{
    border: 1px solid #FFC9A3;
    border-radius: 3px;
    margin-top: 30px;
}