<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/styles.css">
    <title>About us</title>
</head>
<body id="body">
    <header th:replace="~{fragments/commons::nav}"></header>

    <main>
        <div class="jumbotron p-3 mb-2 bg-light text-dark" id="border">
            <h1 class="display-4">Gold Horizon</h1>
            <p class="lead">Where Every Sunset Tells a Tale. Uniting Hearts, One Glowing Horizon at a Time. Share, Explore, and Revel in Radiant Moments.</p>
            <hr class="my-4">
            <p>Welcome to GoldenHorizon, a digital haven dedicated to the allure of sunsets. Our platform is a canvas where enthusiasts from diverse corners of the globe converge to celebrate the magic painted across the sky every evening. With a shared passion for the golden hour, GoldenHorizon invites you to embark on a visual journey, connecting hearts and fostering a global community bound by the beauty of twilight. Join us in capturing, sharing, and relishing the radiant tapestry of sunsets that grace our world.
                At GoldenHorizon, our mission is to create a global sanctuary for sunset enthusiasts. We believe in the power of shared beauty, uniting individuals worldwide through the universal language of sunsets. By providing a platform to share, discover, and appreciate the artistry of dusk, we aim to foster a community that transcends borders, inviting users to connect, be inspired, and find solace in the mesmerizing moments that mark the end of each day.</p>
          
          </div>
    </main>

    <footer th:replace="~{fragments/commons::footer}"></footer>
</body>
</html>