<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/styles.css">
    <title>Event add</title>
</head>
<body id="body">
<header th:replace="~{fragments/commons::nav}"></header>

<main>
   <div id="border">
    <form>
      <h3 class="h-custom">Add event</h3>
        <div class="field">

         <div>
            <Label for="name">Name of event:</Label>
         </div>
         <input class="form-control" type="text" placeholder="Name">
         <small class="text-danger invalid-feedback">Error message name</small>  
         </div>

         <div class="field">

            <div>
               <label for="description">Description:</label>
            </div>
            <textarea name="text" id="description" cols="30" rows="10" class="form-control"></textarea>
            <small class="text-danger invalid-feedback">Error message desc</small>  
         </div>

         <div class="field">

            <div>
               <Label for="date">Date:</Label>
            </div>
            <input class="form-control" type="date" >
            <small class="text-danger invalid-feedback">Error message date</small>  
         </div>

         <div class="button">
            <button class="button-custom">Add event</button>
         </div>
    </form>
</div> 
</main>

<footer th:replace="~{fragments/commons::footer}"></footer>
    
</body>
</html>