<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/header-footer.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <title>Add Sunset</title>
</head>
<body id="body">

    <header th:replace="~{fragments/commons::nav}"></header>

    <main>


        <div id="border">
            <form
                    th:method="POST"
                    th:action="@{/sunset/add}"
                    th:object="${createSunsetDTO}">
                <h3 class="h-custom">Add a sunset photo</h3>
                <div class="field">

                    <div>
                        <Label for="location">Location:</Label>
                        <input class="form-control" type="text" placeholder="Location" name="location" id="location"
                               th:field = "*{location}"
                               th:errorclass="is-invalid alert-danger">
                    </div>
                    <small class="text-danger invalid-feedback">Error message location</small>
                 </div>
        
                 <div class="field">
                    <div>
                        <Label for="date">Date:</Label>
                    </div>
                    <input class="form-control" type="date" id="date"
                           th:field = "*{date}"
                           th:errorclass="is-invalid alert-danger">
                    <small class="text-danger invalid-feedback">Error message date</small>
                 </div>
        
                 <div class="field">
                    <div>
                        <Label for="continent">Continent:</Label>
                    </div>
                    <select class="form-control" id="continent"
                            th:field = "*{continent}"
                            th:errorclass="is-invalid alert-danger">
                        <option value="">Select Continent</option>
                        <option value="AFRICA">Africa</option>
                        <option value="ANTARCTICA">Antarctica</option>
                        <option value="ASIA">Asia</option>
                        <option value="AUSTRALIA">Australia</option>
                        <option value="EUROPE">Europe</option>
                        <option value="NORTH_AMERICA">North America</option>
                        <option value="SOUTH_AMERICA">South America</option>
                    </select>
                    <small class="text-danger invalid-feedback">Error message continent</small>
                 </div>
    
                 <div class="field">
                    <div>
                        <label for="photo">Choose a Photo:</label>
                    </div>
                    <input class="form-control" type="file" name="file" id="photo" accept="image/*" required
                           th:field = "*{photo}"
                           th:errorclass="is-invalid alert-danger">
                    <small class="text-danger invalid-feedback">Error message file</small>
                </div>

                <input type="hidden" th:field="*{user.username}" th:value="${#authentication.name}">
                <div class="button">
                    <button class="button-custom">Add sunset</button>
                </div>
            </form>
        </div>
    </main>
    

    <footer th:replace="~{fragments/commons::footer}"></footer>
    
</body>
</html>