<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="login.css">
    <title>Event add</title>
</head>
<body>
<header></header>

<main>
   <div class="border">
    <form>
      <h3>Add event</h3>
        <div class="field">
            <Label for="name">Name</Label>
            <input class="name" type="text" placeholder="Name">
         </div>

         <div class="field">
            <label for="description">Description</label>
            <textarea name="text" id="description" cols="30" rows="10"></textarea>
         </div>

         <div class="field">
            <Label for="date">Date</Label>
            <input class="date" type="date" >
         </div>

         <div class="button">
            <button>Add event</button>
         </div>
    </form>
</div> 
</main>

<footer></footer>
    
</body>
</html>