<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <title>Blog</title>
</head>
<body id="body">

    <header th:replace="~{fragments/commons::nav}"></header>
    <main>
        <h3 class="h-custom">Share your stories with the world!</h3>

        <div id="border">

           <form th:method="POST"
                 th:action="@{/blog/add}"
                 th:object="${createStoryDTO}">

            <h3 class="h-custom"> Write your story here</h3>
            <div class="field">
                <div>
                    <label for="name">Name of story:</label>
                </div>
                <input type="text" class="form-control" id="name" placeholder="Story name"
                th:field = "*{name}"
                th:errorclass = "is-invalid alert-danger">
                <small class="text-danger invalid-feedback">Error message name</small>
            </div>

            
            <div class="field">

                <div>
                    <label for="story">Story:</label>
                </div>
                <textarea class="form-control" name="text" id="story" cols="30" rows="10" placeholder="Write your story here..."
                          th:field = "*{story}"
                          th:errorclass = "is-invalid alert-danger"></textarea>
                <small class="text-danger invalid-feedback">Error message story</small>
            </div>

               <input type="hidden" th:field="*{date}" th:value="${createStoryDTO.date}" />
            <div class="button">
                <button  class="button-custom">Post Story</button>
            </div>
           </form>
        </div>


        <div id="border">
            <h3 class="h-custom">Peoples stories</h3>

            <div id="content" th:each = "story:${storyList}">
                <span th:text="${story.getName()}">NAME</span>
                <p th:text = "${story.getStory()}">The story that the person is telling, his experience!</p>
            </div>
        </div>
    </main>


    <footer th:replace="~{fragments/commons::footer}"></footer>
</body>
</html>