<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="login.css">
    <title>Blog</title>
</head>
<body>

    <header></header>
    <main>
        <h3>Share your stories</h3>

        <div>

           <form action="">
            <label for="text">Name:</label>
            <input type="text">
            <label for="">Story:</label>
            <textarea name="text" id="" cols="30" rows="10"></textarea>

            <button>Post Story</button>
           </form>
        </div>


        <div>
            <div>
                <span>NAME</span>
                <p>The story that the person is telling, his experience!</p>
            </div>
        </div>
    </main>


    <footer></footer>
</body>
</html>