<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="continent.css">
    <title>All Sunsets</title>
</head>
<body>

    <header></header>
    <main>
        <div class="images">
            <img src="image/africa.jpg" alt="Africa">
            <img src="image/antarctica.jpg" alt="Antartica">
            <img src="image/asia.jpg" alt="Asia">
            <img src="image/australia.jpg" alt="Australia">
            <img src="image/europe.jpg" alt="Europe">
            <img src="image/north_america.jpg" alt="North America">
            <img src="image/south_america.jpg" alt="South America">
           
        </div>
    </main>

    <footer></footer>
    
</body>
</html>