<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="home.css">
    <title>Home</title>
</head>
<body>
    

    <main>
        <div class="feed">
            <div class="users-post">
                <div class="info">
                    <span>NAME</span>
                    <span>LOCATION</span>
                </div>
                <div class="photo">
                    <img src="image/africa.jpg" alt="IMAGE">
                </div>
                <button>Like!</button>
                
            </div>

            <div class="users-post">
                <div class="info">
                    <span>NAME</span>
                    <span>LOCATION</span>
                </div>
                <div class="photo">
                    <img src="image/africa.jpg" alt="IMAGE">
                </div>
                <button>Like!</button>
        </div>
    </main>

</body>
</html>