<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/header-footer.css">
    <link rel="stylesheet" href="/css/home.css">
    <title>Home</title>
</head>
<body>
    <header th:replace="~{fragments/commons::nav}"></header>

    <main>
        <div class="feed">
            <div class="users-post" th:each="post:${feedSunsets}">
                <div class="info">
                    <span th:text="${post.getUser().getUsername()}">NAME</span>
                    <span th:text="${post.getLocation()}">LOCATION</span>
                </div>
                <div class="photo">
                    <img th:src="'data:/image/png;base64,' + ${post.getBase64Photo()}" alt="Sunset Photo">
                </div>


                <button>Like!</button>
            </div>
        </div>


    </main>

    <footer th:replace="~{fragments/commons::footer}"></footer>
</body>
</html>