<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="styles.css">
    <title>IntroPage</title>
</head>
<body>
    
<header></header>
    <main>
        <section>
            <div class="main-intro">
                <h1>WELCOME TO 'NAME"</h1>
                <p>Share the beautiful sunsets with people all around the world</p>
                <div class="buttons">
                    <button>Login</button>
                    <button>Register</button>
                </div>
            </div>
        </section>


        <section class="site-intro">
            <div>
                <img src="image/sunset.png" alt="">
                <p>Capture amazing sunsets</p>
            </div>
            <div>
                <img src="image/partners.png" alt="">
                <p>Share them with your comunity</p>
            </div>
            <div>
                <img src="image/pencil.png" alt="">
                <p>Share your experiences</p>
            </div>
        </section>
    </main>

    <footer></footer>
</body>
</html>