<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/styles.css">
    <title>IntroPage</title>



    <script>
        function redirectToLogin() {
          window.location.href = "/login";
        }

        function redirectToRegister(){
            window.location.href="/register";
        }

      </script>
</head>
<body>
    
<header th:replace="~{fragments/commons::nav}"></header>
    <main>
        <section>
            <div class="main-intro">
                <h1>WELCOME TO GOLDEN HORIZON</h1>
                <p>Share the beautiful sunsets with people all around the world</p>
                <div class="buttons">
                    <button onclick="redirectToLogin()">Login</button>
                    <button onclick="redirectToRegister()">Register</button>
                </div>
            </div>
        </section>


        <section class="site-intro">
            <div>
                <img src="images/sunset.png" alt="">
                <p>Capture amazing sunsets</p>
            </div>
            <div>
                <img src="images/partners.png" alt="">
                <p>Share them with your community</p>
            </div>
            <div>
                <img src="images/pencil.png" alt="">
                <p>Share your experiences</p>
            </div>
        </section>
    </main>

    <footer th:replace="~{fragments/commons::footer}"></footer>
</body>
</html>