<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liked Sunsets</title>
</head>
<body>
    <header th:replace="~{fragments/commons::nav}"></header>

    <main>
         <h1>Your liked photos!</h1>
        <section>
            <div th:each="sunset:${sunsets}">
                <img th:src="'data:/image/png;base64,' + ${post.getBase64Photo()}" alt="Sunset Photo">

                <a th:href="@{'/likeSunset/' + ${sunset.getId()}}">
                    <button>Remove</button>
                </a>
             </div>
        </section>
    </main>

    <footer th:replace="~{fragments/commons::footer}"></footer>
</body>
</html>