<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/header-footer.css">
    <title>Login</title>
</head>
<body id="body">
<header th:replace="~{fragments/commons::nav}"></header>

<main>
   <div id="border">
    <form th:action="@{/login}" th:method="POST"
          >
       <h3 class="h-custom">Login</h3>

        <div class="field">
            <div>
               <Label for="username">Username:</Label>              
            </div>           
            <input type="text" class="form-control" id="username" name="username" placeholder="Username"
                   th:value="${username}"
           >

         </div>

   
         
         <div class="field">
            <div>
               <label for="password">Password:</label>
            </div>

            <input type="password" class="form-control" placeholder="Password" id="password" name="password" min="2"
                   max="20"

                   >

            
         </div>

        <p th:if="${bad_credentials != null && bad_credentials}" class="errors alert alert-danger">
            Invalid username or password.
        </p>

         <div class="button">
            <button class="button-custom" type="submit">Login</button>
         </div>
    </form>
</div> 
</main>

<footer th:replace="~{fragments/commons::footer}"></footer>
    
</body>
</html>