<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <title>Login</title>
</head>
<body id="body">
<header th:replace="~{fragments/commons::nav}"></header>

<main>
   <div id="border">
    <form th:action="@{/login}" th:method="POST"
          th:object="${user}">
       <h3 class="h-custom">Login</h3>

        <div class="field">
            <div>
               <Label for="username">Username:</Label>              
            </div>           
            <input type="text" class="form-control" id="username" name="username" placeholder="Username"
            th:field="*{username}"
            th:errorclass="is-invalid alert-danger">
            <small class="text-danger invalid-feedback" >Error message username</small>           
         </div>

   
         
         <div class="field">
            <div>
               <label for="password">Password:</label>
            </div>

            <input type="password" class="form-control" placeholder="Password" id="password"
                   th:field="*{password}"
                   th:errorclass="is-invalid alert-danger">
            <small class="text-danger invalid-feedback">Error message password</small>
            
         </div>

         <div class="button">
            <button class="button-custom">Login</button>
         </div>
    </form>
</div> 
</main>

<footer th:replace="~{fragments/commons::footer}"></footer>
    
</body>
</html>