<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="home.css">
    <title>Profile</title>
</head>
<body>

    <header></header>

    
   <main>
    
    <section>
        
        <h1>PERSONS PROFILE</h1>

        <p><a href="#">Liked Sunsets</a></p>
        <div class="user-info">
            <p>Info</p>
            <div>
                
                <p>POSTS</p>
                <p>BIRTHDATE</p>

            </div>


        </div>
    </section>

    <section>

        <h3>Posts</h3>
        <div class="feed">
            <div class="users-post">
                <div class="info">
                    <span>NAME</span>
                    <span>LOCATION</span>
                </div>
                <div class="photo">
                    <img src="" alt="IMAGE">
                </div>
            </div>
        </div>
    </section>
   </main>

   <footer></footer>

</body>
</html>