<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/header-footer.css">

    <title>Profile</title>
</head>
<body>

    <header th:replace="~{fragments/commons::nav}"></header>

    
   <main>
    
    <section>
        
        <h1 th:text="'Profile of ' + ${user.getUsername()}">PERSONS PROFILE</h1>

        <p><a href="/profile/likes" >Liked Sunsets</a></p>
        <p><a href="/username">Change Username</a></p>
        <div class="user-info">

            <div>
                
                <p th:text = "'Number of sunsets: '+${user.getSunsets().size()}">number of posts</p>
                <p th:text ="'Name: '+${user.getFirstName()}+ ' '+${user.getLastName()}">first name+last name</p>

            </div>


        </div>
    </section>

    <section>

        <h3>Posts</h3>
        <div class="feed">
            <div class="users-post" th:each="post:${feedSunsets}">
                <div class="info">
                    <span th:text="${post.getUser().getUsername()}">NAME</span>
                    <span th:text="${post.getLocation()}">LOCATION</span>
                </div>
                <div class="photo">
                    <img th:src="'data:/image/jpg;base64,' + ${post.getBase64Photo()}" alt="IMAGE">
                </div>
            </div>
        </div>
    </section>
   </main>

   <footer th:replace="~{fragments/commons::footer}"></footer>

</body>
</html>