<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <title>Register</title>
</head>
<body id="body">
    <header th:replace="~{fragments/commons::nav}">
        
    </header>


    <main>
        <div id="border">
         <form>
             <h3 class="h-custom">Register</h3>

             <div class="field">
                 <div>
                  <Label for="username">Username:</Label>
                 </div>

                 <input class="form-control" type="text" placeholder="Username">
                 <small class="text-danger invalid-feedback">Error message username</small>
              </div>


              <div class="field">
                <div>
                  <label for="firstName">First name:</label>
                </div>
                <input type="text" class="form-control" placeholder="Name">
                <small class="text-danger invalid-feedback">Error message first name</small>
              </div>

              <div class="field">
                <div>
                  <label for="lastName">Last name:</label>
                </div>
                <input type="text" class="form-control" placeholder="Last name">
                <small class="text-danger invalid-feedback">Error message last name</small>

              </div>

              <div class="field">
                <div>
                  <label for="email">Email:</label>
                </div>
                <input type="text" class="form-control" placeholder="email@gmail.com">
                <small class="text-danger invalid-feedback">Error message email</small>
              </div>
     
              <div class="field">
                 <div>
                  <label for="password">Password:</label>
                 </div>
                 <input type="password", class="form-control" placeholder="Password">
                 <small class="text-danger invalid-feedback">Error message password</small>
              </div>

              <div class="field">
                <div>
                  <label for="password">Confirm Password:</label>
                </div>
                <input type="password", class="form-control" placeholder="Password">
                <small class="text-danger invalid-feedback">Error message password</small>
             </div>

             <div class="button">
              <button class="button-custom">Register</button>
             </div>
         </form>
     </div> 
     </main>

     <footer th:replace="~{fragments/commons::footer}"></footer>

</body>
</html>