<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <title>Register</title>
</head>
<body id="body">
    <header th:replace="~{fragments/commons::nav}">
        
    </header>


    <main>
        <div id="border">
         <form  th:method="POST"
                th:action="@{/register}"
                th:object="${registrationDTO}">
             <h3 class="h-custom">Register</h3>

             <div class="field">
                 <div>
                  <Label for="username">Username:</Label>
                 </div>

                 <input class="form-control" type="text" placeholder="Username" name="username" id="username"
                        th:field = "*{username}"
                        th:errorclass="is-invalid">
                 <small class="text-danger invalid-feedback">Username must be between 3 and 20 characters</small>
              </div>


              <div class="field">
                <div>
                  <label for="firstName">First name:</label>
                </div>
                <input type="text" class="form-control" placeholder="Name" id="firstName"
                       th:field = "*{firstName}"
                       th:errorclass="is-invalid">
                <small class="text-danger invalid-feedback">Error message first name</small>
              </div>

              <div class="field">
                <div>
                  <label for="lastName">Last name:</label>
                </div>
                <input type="text" class="form-control" placeholder="Last name" id="lastName"
                       th:field = "*{lastName}"
                       th:errorclass="is-invalid">
                <small class="text-danger invalid-feedback">Error message last name</small>

              </div>

              <div class="field">
                <div>
                  <label for="email">Email:</label>
                </div>
                <input type="text" class="form-control" placeholder="email@gmail.com" id="email"
                       th:field = "*{email}"
                       th:errorclass="is-invalid">
                <small class="text-danger invalid-feedback">This must be a valid email!</small>
              </div>
     
              <div class="field">
                 <div>
                  <label for="password">Password:</label>
                 </div>
                 <input type="password" class="form-control" placeholder="Password" id="password"
                        th:field = "*{password}"
                        th:errorclass="is-invalid">
                 <small class="text-danger invalid-feedback">Error message password</small>
              </div>

              <div class="field">
                <div>
                  <label for="confirmPassword">Confirm Password:</label>
                </div>
                <input type="password" class="form-control" placeholder="Password" id="confirmPassword"
                       th:field = "*{confirmPassword}"
                       th:errorclass="is-invalid">
                <small class="text-danger invalid-feedback">Error message password</small>
             </div>

             <div class="button">
              <button class="button-custom">Register</button>
             </div>
         </form>
     </div> 
     </main>

     <footer th:replace="~{fragments/commons::footer}"></footer>

</body>
</html>