<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="login.css">
    <title>Register</title>
</head>
<body>
    <header>
        
    </header>


    <main>
        <div class="border">
         <form>
             <h3>Register</h3>
             <div class="field">
                 <Label for="username">Username</Label>
                 <input class="username" type="text" placeholder="Username">
              </div>

              <div class="field">
                <label for="firstName">First name</label>
                <input type="text" class="firstName" placeholder="Name">

                <label for="lastName">Last name</label>
                <input type="text" class="lastName" placeholder="Last name">
              </div>

              <div class="field">
                <label for="email">Email</label>
                <input type="text" class="email" placeholder="email@gmail.com">
              </div>
     
              <div class="field">
                 <label for="password">Password</label>
                 <input type="password", class="password" placeholder="Password">
              </div>

              <div class="field">
                <label for="password">Confirm Password</label>
                <input type="password", class="password" placeholder="Password">
             </div>

             <div class="button">
              <button>Register</button>
             </div>
         </form>
     </div> 
     </main>

     <footer></footer>

</body>
</html>